
article{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.grid-container > *{
	box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}
.header{
	grid-area: header;
}
.aside{
	grid-area: aside;
	background-color: rgba(255,255, 255, 0.5);
}
.main{
	grid-area: main;
}
video{
	width: 100%;
}
.absolute{
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
	text-align: center;
	display: flex;
	justify-content: center;
}
.grid-container{
	display: grid;
	gap: 10px;

	grid-template:
		"header" 20px
		"aside" 60%
		"main" auto;		
}
@media(max-width: 259px){
	.grid-container{
	grid-template:
		"header" 20px
		"aside" 800px
		"main" 400px;
	}
}
@media(min-width: 260px){
	.grid-container{
	grid-template:
		"header" 20px
		"aside" 500px
		"main" 400px;
	}
}

@media(min-width: 460px){
	.grid-container{
	grid-template:
		"header" 20px
		"aside" 70%
		"main" auto;
	}
}
@media(min-width: 700px){
	.grid-container{
		grid-template:
		"header header" 20px
		"aside  main"	90%/
		40% 60%;
	}
}
