
/*article{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: lightcyan;
}*/
.grid-container > *{
	box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}
.header{
	grid-area: header;
}

.item1{
	grid-area: item1;
	background-color: #D7F7FC ;
}
.item2{
	grid-area: item2;
	background-color: #FFE3FF;
}
.item3{
	grid-area: item3; 
	background-color: #FCEAD7  ;
}

video{
	width: 100%;
}
.absolute{
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	position: absolute;
	text-align: center;
	display: flex;
	justify-content: center;
}	

.grid-container{
	display: grid;
	gap: 10px;

	grid-template:
		"header header header" 10px
		"item1 item2 item3"	90%/ 33% 33% 33%; 
}
